body {
  background-color: #ccc;
  font-family: montserrat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.dark_red {
  color: #a00;
}

.red {
  color: #f55;
}

.gold {
  color: #fa0;
}

.yellow {
  color: #ff5;
}

.dark_green {
  color: #0a0;
}

.green {
  color: #5f5;
}

.aqua {
  color: #5ff;
}

.dark_aqua {
  color: #0aa;
}

.dark_blue {
  color: #00aa;
}

.blue {
  color: #55ff;
}

.light_purple {
  color: #f5f;
}

.dark_purple {
  color: #a0a;
}

.white {
  color: #fff;
}

.gray {
  color: #aaa;
}

.dark_gray {
  color: #555;
}

.black {
  color: #000;
}

.nav {
  background-color: #222;
}

.nav-bottom {
  box-shadow: 0 -10px 10px -10px #008080 inset;
}

.nav-link {
  color: #008080;
  transition: color 0.2s;
  cursor: pointer;
}

.nav-link.brand {
  font-size: 3em;
  color: #00ffff;
  font-weight: bold;
}

.nav-link:hover {
  color: #444;
}

.wrapper {
  width: 100vw;
  margin: 0;
  padding: 25px;
  text-align: center;
  height: calc(100vh - 235px);
}

.wrapper#top {
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.heading {
  padding: 25px;
  background-color: #fff;
  color: #008080;
}

.mods,
.commands {
  margin-top: 50px;
  margin-bottom: 30px;
}

.cell {
  display: inline-block;
  font-size: 1.5rem;
}
